.catalogPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 45px 0px;
}
.catalogPageContainer {
    background: radial-gradient(
        2406.89% 286.92% at 308.68% 294.26%,
        #e0e0e0 0%,
        #acacad 100%
    );
}
.catalogPageHeading {
    color: #000;
    font-family: 'Lucida Grande';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
