.contactsWrapper {
    min-height: 600px;
    background-image: url('../../../assets/image/map.png');
}
.contactsWrapperBlock {
    display: flex;
    align-items: center;
    padding-left: 200px;
    min-height: 600px;
    background: linear-gradient(80deg, #382021c2 9.85%, #150606b8 83.43%);
    z-index: 1;
    position: relative;
}
.contactsPhoneLink::before {
    content: url('../../../assets/image/phoneContact.svg');
    padding-right: 10px;
}
.contactsMailLink::before {
    content: url('../../../assets/image/iconMessage.svg');
    padding-right: 10px;
}
.contactsContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 10px;
    padding: 50px 35px;
    background: linear-gradient(
        118deg,
        rgba(255, 255, 255, 0.56) 12.11%,
        rgba(230, 230, 230, 0.28) 100%
    );
    box-shadow: 7px 7px 20px 22px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    max-width: 570px;
    min-width: 570px;
}
.contactsHeading {
    color: #fff;
    font-family: 'Lucida Grande';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.contactsDescription {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contactsDescription a,
.contactsDescription p {
    color: #fff;
    font-family: 'Lucida Grande';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.contactsSocial {
    display: flex;
    gap: 20px;
}
