.userLogo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.userLogo a {
    color: black;
    gap: 10px;
}
.userLogo a:hover {
    color: rgb(255, 255, 255);
    gap: 10px;
}
.userLogoImg {
    padding: 10px;
    background-color: grey;
    border-radius: 20px;
}
.userLogoName {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Lucida Bright';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
