.basketDescription {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.basketDescriptionBlock {
    display: flex;
    justify-content: flex-end;
    gap: 260px;
    width: 100%;
}
.basketDescription p {
    color: #000;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 109.971%;
}
.basketDescriptionBlockRight {
    display: flex;
    gap: 94px;
}
