.instractionsContainer {
    background: radial-gradient(
        2406.89% 286.92% at 308.68% 294.26%,
        #e0e0e0 0%,
        #acacad 100%
    );
}
.instractionsWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.instractionsHeading {
    color: #000;
    font-family: 'Lucida Grande';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.instractionsContent {
    display: flex;
    align-items: center;
    gap: 40px;
}
.instractionsContentDown {
    display: flex;
    gap: 20px;
}
