.instractionsList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 184px;
    list-style-type: none;
}
.instractionsList li {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Lucida Grande';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    position: relative;
}
.instractionsList li::before {
    position: absolute;
    left: -20px;
    top: 3px;
    content: url('../../../../assets/image/ellipseWhite.svg');
}
