.payDelivery {
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
.payDeliveryBox {
    padding: 50px 100px;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        #fff 54.06%,
        rgba(230, 230, 230, 0.64) 137.61%
    );
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.06);
    max-width: 964px;
}
.payDeliveryContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.payDeliveryHeading {
    color: #000;
    font-family: 'Lucida Grande';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}
.payDeliveryBlockItems {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
