.app {
    width: 100vw;
    height: 100vh;
}
.wrapper {
    width: 100%;
    height: 100%;
    background: radial-gradient(
        56.89% 16.92% at 58.68% 14.26%,
        #e0e0e0 0%,
        #acacad 100%
    );
}
.container {
    max-width: 1400px;
    padding: 44px 120px;
    margin: 0 auto;
}
