@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Medium.ttf')
        format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Lucida Bright';
    src: url('../assets/fonts/Lucidabright/LucidaBrightRegular.ttf')
        format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lucida Grande';
    src: url('../assets/fonts/Lucidagrande/lucidagrande.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Lucida Grande';
    src: url('../assets/fonts/Lucidagrande/lucidagrande_bold.ttf')
        format('truetype');
    font-weight: 700;
    font-style: bold;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    cursor: pointer;
}

input:active {
    border: none;
}
input:focus {
    outline: none;
}

:root {
    --text-white: white;
    --text-black: black;
    --text-light-black: #373737;
    --text-brown: #f5d7a9;
    --background-card: linear-gradient(
        180deg,
        #fff 0%,
        rgba(230, 230, 230, 0.64) 100%
    );
    --background-button: linear-gradient(261deg, #715e5f 0%, #5f4f50 98.34%);
    --background-footer: #2c2b29;
    --background-about: linear-gradient(80deg, #715e5f 9.85%, #5f4f50 83.43%);
    --background-main: radial-gradient(
        56.89% 16.92% at 58.68% 14.26%,
        #e0e0e0 0%,
        #acacad 100%
    );
    --background-other: radial-gradient(
        262.05% 82.43% at 100% -1.18%,
        #e0e0e0 0%,
        #c0bfc3 100%
    );
}
