.navbar {
    display: flex;
    align-items: center;
    gap: 130px;
}
.navbar a {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Lucida Bright';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.navbar a:hover {
    color: white;
}
